package views

templ MenuItem(icon templ.Component, text string) {
	<div class="w-full lg:inline-block hover:bg-gray-900 p-2 px-4 lg:pr-6 rounded-full cursor-pointer transition duration-200 ease-in-out">
		<div class="flex items-center">
			@icon
			<span class="lg:block hidden text-white font-extrabold text-[23px] pl-4 mt-0.5">
				{ text }
			</span>
		</div>
	</div>
}
